---
layout: default
---

<div class="home">

    {% for post in site.posts limit:10 %}

    {% if post.layout contains "micro" %}

    <div class="micro-post">
        {% if post.banner %}
          <a href="{{site.url }}{{ post.url }}">
            <img class="banner-image" src="{{ site.url }}/assets/img/{{ post.banner }}" />
          </a>
        {% endif %}
        <div class="post-content">
          {{ post.content }}
          <div class="micro-footer">
            <a href="{{site.url }}{{ post.url }}">
              <span class="slashes"><span class="slash-r">/</span><span class="slash-g">/</span><span class="slash-b">/</span></span>&nbsp;<span class="date">{{ post.date | date: "%B %-d, %Y at %l:%M%p" }}</span>
            </a>
          </div>
        </div>
    </div>
    
    {% else %}

    <div class="post">

      <div class="post-banner">
        {% if post.banner %}
          {% if post.link %}
            <a href="{{ post.link }}">
              <img class="banner-image" src="{{ site.url }}/assets/img/{{ post.banner }}" />
            </a>
            {% if post.caption %}
              <p class="banner-caption">{{ post.caption | markdownify | remove: '<p>' | remove: '</p>' }}</p>
            {% else %} <!-- If No Caption -->
            {% endif %}
          {% else %} <!-- If Not Link Post -->
            <a href="{{site.url }}{{ post.url }}">
              <img class="banner-image" src="{{ site.url }}/assets/img/{{ post.banner }}" />
            </a>
            {% if post.caption %}
              <p class="banner-caption">{{ post.caption | markdownify | remove: '<p>' | remove: '</p>' }}</p>
            {% else %} <!-- If No Caption -->
            {% endif %}
          {% endif %}
        {% else %} <!-- If No Banner -->

        {% endif %}
      </div>

      {% if post.layout contains "micro" %}
      <div class="post-header micro">&nbsp;
      </div> 
      {% else %}  
      <div class="post-header">
        {% if post.link %}
          <h1 class="post-title"><a href="{{ post.link }}">{{ post.title }}&nbsp;&rArr;</a></h1>
        {% else %}
          <h1 class="post-title"><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h1>
        {% endif %}
        {% if post.subtitle %}
          <h2 class="post-subtitle">{{ post.subtitle }}</h2>
        {% endif %}
      </div>
      {% endif %}

      {% if post.layout == "episode" %}
      <div class="show-meta">
        <div class="player">
          <iframe frameborder='0' height='36px' scrolling='no' seamless src='https://simplecast.com/e/{{ post.simplecast }}?style=dark' width='100%'></iframe>
        </div>
        <div class="links">
          <a href="{{ site.url }}/itunes.xml">Subscribe</a> ::
          <a href="https://dts.podtrac.com/redirect.mp3/audio.simplecast.com/{{ post.simplecast }}.mp3" title="Seasons {{ title }}">Download</a> ::
          <a href="{{ post.twitter }}">Twitter-friendly Link</a>
        </div>
      </div>
      {% endif %}

      <div class="post-content">
        {{ post.content }}

          <div class="post-meta">
            <span class="date">Posted on {{ post.date | date: "%B %-d, %Y at %l:%M%p" }}</span><span>{% if post.author %}<span class="author">&nbsp;by&nbsp;<a href="{{ site.url }}/archive?search={{ post.author }}">{{ post.author }}</a></span>&nbsp;&ndash;&nbsp;<a href="https://github.com/themindfulbit/difficulties.github.io/issues/new">Leave a Comment</a>{% endif %}
          </div>
          <div class="permalink">
            <a href="{{ site.url }}{{ post.url }}">
              <span class="slashes"><span class="slash-r">/</span><span class="slash-g">/</span><span class="slash-b">/</span></span>
            </a>
          </div>
      </div>
    </div>

    {% endif %}
    {% endfor %}

</div>

<ul class="post-list">
  <li class="post-item post-more">
    <a class="post-link" href="{{ site.url}}/archive">
      <div class="post-data">
        <h3 class="post-meta">Find more posts in the archive</h3>
      </div>
    </a>
  </li>
</ul>

{% include meta.html %}
