---
layout: default
---

<div class="micro-post">
  {% if page.banner %}
  <a href="{{site.url }}{{ page.url }}">
    <img class="banner-image" src="{{ site.url }}/assets/img/{{ page.banner }}" />
    </a>
  {% endif %}
  <div class="post-content">
    {{ page.content }}
    <div class="micro-footer">
      <a href="{{site.url }}{{ page.url }}">
        <span class="slashes"><span class="slash-r">/</span><span class="slash-g">/</span><span class="slash-b">/</span></span>&nbsp;<span class="date">{{ page.date | date: "%B %-d, %Y at %l:%M%p" }}</span>
      </a>
    </div>
  </div>
</div>

 {% include pagination.html %}
