---
layout: default
---
<div class="post">

  {% include post-header.html %}

  <div class="post-content">
    {{ content }}
      <div class="post-meta">
        <div class="date-author"><span class="date">Posted on {{ page.date | date: "%B %-d, %Y at %l:%M%p" }}</span><span>{% if page.author %}<span class="author">&nbsp;by&nbsp;<a href="{{ site.url }}/archive?search={{ page.author }}">{{ page.author }}</a></span>{% endif %}</div>
      </div>
    {% if page.link %}
      <div class="permalink">
        <a href="{{ site.url }}{{ page.url }}">
          <span class="slashes"><span class="slash-r">/</span><span class="slash-g">/</span><span class="slash-b">/</span></span>
        </a>
      </div>
    {% endif %}
  </div>

  {% include post-footer.html %}
  {% include pagination.html %}

</div>
